<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="2.0.0" id="br.com.marcoromero.jarbas"
    >

    <name>Jarbas</name>

    <description>
    Aplicativo de automação residencial
    </description>

    <author href="http://marcoromero.com.br"  
        email="mmcromero@gmail.com"> Sérgio Lopes
    </author>

    <icon src="img/logo.png" />
    <plugin name="cordova-plugin-splashscreen" />
    <splash src="splash.png" />

    <access origin="http://192.168.0.88"/>
    
    <preference name="permissions" value="none" />

    <platform name="android" />


</widget>